:local .textBoxContainer {
  display: flex;
  margin-bottom: 10px;
}

:local .textBox {
  flex: 1
}

.mq-math-mode, .mq-math-mode .mq-editable-field {
  border-radius: 4px;
  width: 100%;
}

.mq-root-block {
  text-align: center;
  font-size: 20px !important;
  padding: 10px !important;
}

.mq-editable-field .mq-cursor {
  border-left: 1px solid white !important;
}
