:local .container {
  display: inline;
  flex-direction: row;
}

:local .textBoxContainer {
  display: flex;
  margin-bottom: 10px;
}

:local .textBox {
  flex: 1
}

.mq-math-mode, .mq-math-mode .mq-editable-field {
  width: 100% !important;
  border-color: gainsboro !important;
}