.exercises-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%
}

.exercise-card {
    margin: 15px !important;
    width: 30%
}