@import '../../../../App.module.sass'

.container 
  display: flex
  align-items: center
  margin-top: 30px

.rightStep
  align-items: center
  margin: 16px 0

.step
  display: flex
  flex-grow: 1
  align-items: center
  justify-content: center

.content
  display: flex
  flex-grow: 1
  flex-direction: column

.problemInput
  width: auto
  margin-right: 20px
  align-self: self-start;
  span
    text-align: left

.mathText
  margin: 0 10px
  width: auto
  min-width: 200px

.mathBox
  flex-grow: 1
  margin: 0 20px !important

.item 
  margin: 0 10px !important
  vertical-align: middle

.solvedExerciseText
  width: 100%
  margin-top: 40px !important
  text-align: center
