@import '../../../../App.module.sass'

.container
  display: flex
  flex-grow: 1
  margin: 30px 0

.rightStep
  align-items: center
  margin: 16px 0

.step
  margin: 16px 0

.stepContent
  display: flex
  align-items: center
  justify-content: center

.content
  display: flex
  flex-grow: 1
  flex-direction: column

.problemInput
  width: auto
  margin-right: 20px
  align-self: self-start
  span
    text-align: left

.mathText
  margin: 0 10px
  width: auto
  min-width: 200px

.mathBox
  flex-grow: 1
  margin: 0 20px !important

.item 
  margin: 0 15px !important
  vertical-align: middle

.help
  margin: 0 10px

.solvedExerciseText
  width: 100%
  text-align: center

.deleteStep
  font-weight: bold
  cursor: pointer
