.container
  display: flex
  flex-direction: column
  border-radius: 5px

.variableContainer
  display: flex
  justify-content: flex-end
  flex-direction: column
  align-items: flex-end
  margin-bottom: 20px
  margin-top: 10px

.variableTextBox
  margin-right: 20px

.variable
  display: flex
  margin-top: 10px

.varIcon
  align-self: center
  cursor: pointer
  text-transform: none

.removeVarIcon

.addVarIcon
  background-color: darkcyan
  align-self: flex-end
