.card {
    padding: 0 15px 10px;
}

.card .finished-text {
    background-color: aquamarine;
    text-align: center
}

.bullet {
    display: 'inline-block';
    margin: '0 2px';
    transform: 'scale(0.8)';
}
.card .title {
    font-size: 14;
    text-align: center
}
.pos {
    margin-bottom: 12;
}

.statement {
    text-align: center
}

/* TODO: do it right */
.MuiPaper-root {
    height: 100% !important;
}
