@import '../../../../App.module.sass'

.mathTable
  background-color: $palette-background-paper
  padding: 2px
  margin: 0px !important

.mathTableHeader
  text-align: right

.mathTableActions
  padding: 7px
  justify-content: center

.colapseIcon
  cursor: pointer

.latexSwitch
  justify-content: left
  display: flex
  flex-grow: 1
  padding-left: 16px
