@import '../../../../App.module.sass'

.mathTable
  background-color: dimgray
  max-width: 155px
  padding: 2px
  margin: 0px !important

.mathTableHeader
  text-align: right

.mathTableActions
  padding: 7px

.colapseIcon
  cursor: pointer
