@import '../../../../App.module.sass'

.mathTable
  background-color: dimgray
  max-width: 155px
  padding: 2px
  margin: 0px !important

.mathTableHeader
  text-align: right

.mathTableActions
  padding: 7px

.singleMathText
  margin: 0
  padding: 2px !important

  span
    font-size: 13px
  var
    font-size: 13px

.mathExpression
  text-transform: none !important
  padding: 0 !important
  width: 40px !important
  height: 40px !important
  min-width: 0px !important

  span
    padding: 0 !important

.colapseIcon
  cursor: pointer
