@import '../../../../../../App.module'


.pages
  text-align: center
  vertical-align: center
  height: 100%

.displayLine
  display: flex
  flex-direction: row
  justify-content: space-between

.editButton
  height: 45px
  margin-left: $spacing-md

.card
  margin-bottom: 20px
  padding: $spacing-md
  cursor: pointer

.exercise
  color: $palette-tc-gray1
  margin-top: 20px

  span:last-child
    text-align: left

.loading
  @extend .loadingRoot
  padding-top: $spacing-xxlg !important

.type
  color: $palette-tc-gray1
  margin-bottom: $spacing-xsm !important

.problemInputTitle
  margin-top: 10px
  color: $palette-tc-gray1
  text-align: left
