@import '../../../../../../App.module'

.pages
  text-align: center
  vertical-align: center
  height: 100%

.displayLine
  display: flex
  flex-direction: row
  justify-content: space-between

.editButton
  height: 45px
  margin-left: $spacing-md

.item
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.card
  margin-bottom: 20px
  padding: $spacing-md
  cursor: pointer

.exercise
  color: $palette-tc-gray1
  padding: 0 20px !important
  margin: 0 !important
  cursor: pointer

  span:last-child
    text-align: left

.loading
  @extend .loadingRoot
  padding-top: $spacing-xxlg !important

.type
  color: $palette-tc-gray1

.exerciseInfo
  margin-bottom: $spacing-xsm !important

.problemInputTitle
  margin-top: 10px
  color: $palette-tc-gray1
  text-align: left

.statusIcon
  margin-top: 10px !important
