.modal
  min-width: 550px
  background-color: #303030
  display: flex
  flex-direction: column
  padding: 40px 30px
  position: absolute
  transform: translate(-50%,-50%);
  top: 50%
  left: 50%

.name
  margin-bottom: 15px

  root
    font-size: 1em

  label
    font-size: 1em

.exerciseContainer
  margin: 15px 0 
  text-align: left;
  align-items: center;
  vertical-align: middle

.exercise
  div
    min-height: 50px;

.exerciseLabel
  align-self: self-start
  margin: 10px 0 


.dropdownContainer
  margin: 15px 0
  text-align: left
  align-items: center
  vertical-align: middle
  flex-direction: row

.dropdown

.dropdownLabel
  margin-right: 20px


.descriptionContainer
  margin: 15px 0
  text-align: left;
  align-items: center;
  vertical-align: middle

.description
  margin: 15px 0

  root
    font-size: 1em

  label
    font-size: 1em

.createAccount
  display: inline-block
  border-radius: 2px
  margin: 15px 0 
  text-transform: none 

.createExerciseEnabled
  color: white 
  background-color: #18a0fb 

.createExerciseDisabled
  color: grey 
  background-color: #d7d7d7 
