@import "../../../../../../App.module"

.courseNameTextField
  margin-right: 20px !important
  input
    font-size: 22px

.courseNameTypography
  margin-right: 20px !important

.courseName
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: $spacing-md

.courseDescriptionTextField
  margin-right: 20px !important
  input
    font-size: 16px

.courseDescriptionTypography
  margin-right: 20px !important
  display: flex
  align-self: center

.courseDescription
  color: $palette-tc-gray1
  display: flex
  justify-content: center
  align-items: center

.moreVertOptions
  display: flex
  justify-content: left
  justify-items: left
