@import "../../../../../../App.module"

.exercisesHeader
  flex-grow: 1
  display: flex
  justify-content: space-between

.guideTitle
  margin-bottom: $spacing-lg !important
  display: inline

.exerciseInfo
  padding: $spacing-lg $spacing-xxlg
  width: 100%

.exerciseList
  flex-grow: 1
  min-height: 250px
  display: flex

.addButton
  text-align: center
  display: inline
  float: right
