.modal {
  min-width: 400px;
  min-height: 600px;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 25px;
  text-align: center;

  position: absolute;
  left: 50%;
  top: 50%;
}

.button {
  cursor: default;
  color: #666;
  padding: 5px 30px;
  border-radius: 3px;
  border: 1px solid #aaa;
}

.name {
  margin: 30px;
  background: darkblue;
}
